<div class="text-center">
  <div class="flex items-center justify-center w-20 h-20 mx-auto mb-3 sm:w-20 sm:h-20">
    <%= image_tag(partner.logo) %>
  </div>
  <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
    <%= partner.name %>
  </p>
</div>
