<% content_for :page_title, 'SMUCA — Notre équipe' %>
<section class="relative py-20 overflow-hidden bg-gray-100">
  <div class="relative px-16 mx-auto max-w-7xl">
    <p class="font-medium tracking-wide text-blue-500 uppercase"><%= t('user.index.title') %></p>
    <h2 class="relative max-w-3xl mt-5 mb-10 text-4xl font-semibold leading-tight lg:text-5xl">
      Toujours prêts à intervenir
    </h2>
    <div class="flex flex-wrap -m-4">
      <%= render @users %>
    </div>
  </div>
</section>
