<% content_for :page_title, 'SMUCA — Notre équipe' %>
<section class="bg-gray-100">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <p class="font-medium tracking-wide text-sky-500 uppercase text-center md:text-left"><%= t('user.index.title') %></p>
    <h2 class="relative max-w-3xl mt-5 mb-10 text-4xl font-semibold leading-tight lg:text-5xl text-center md:text-left">
      Toujours prêts à intervenir.
    </h2>
    <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-4">
      <%= render @users %>
    </div>
  </div>
</section>
