<!-- Section 1 -->
<section class="relative py-20 overflow-hidden bg-white">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <span class="absolute bottom-0 left-0"> </span>
  <div class="relative px-16 mx-auto max-w-7xl">
    <p class="font-medium tracking-wide text-blue-500 uppercase"><%= t('user.index.title') %></p>
    <h2 class="relative max-w-lg mt-5 mb-10 text-4xl font-semibold leading-tight lg:text-5xl">An incredible team of <br>
      amazing individuals</h2>
    <div class="flex flex-wrap -m-4">
      <%= render @users %>
    </div>
  </div>
</section>
