<div class="w-full px-4 lg:w-6/12 xl:w-3/12">
  <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white rounded shadow-lg xl:mb-0">
    <div class="flex-auto p-4">
      <div class="flex flex-wrap text-center ">
        <div class="relative flex-1 flex-grow w-full max-w-full pr-4">
          <h5 class="text-xs font-bold text-gray-400 uppercase">
            Total <%= resource %>
          </h5>
          <span class="text-xl font-semibold text-gray-700">
            <%= resource.classify.constantize.count %>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
