<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>
<div class="grid grid-cols-3 grid-rows-1 gap-2">
  <div class="flex items-center">
    <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">Tous les <%= content_for(:title) %></h1>
  </div>
  <div class="box">
    <% if show_search_bar %>
      <%= render(
      "search",
      search_term: search_term,
      resource_name: display_resource_name(page.resource_name)
    ) %>
    <% end %>
  </div>
  <div class="flex items-center space-x-2 sm:space-x-3 ml-auto">
    <%= link_to(
      t(
        "administrate.actions.new_resource",
        name: display_resource_name(page.resource_name, singular: true).downcase
      ),
      [:new, namespace, page.resource_path.to_sym],
      class: "btn btn-accent",
    ) if valid_action?(:new) && show_action?(:new, new_resource) %>
  </div>
</div>
