<%#
# Edit

This view is the template for the edit page.

It displays a header, and renders the `_form` partial to do the heavy lifting.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to help display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>
<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200">
  <div class="w-full">
    <div class="grid overflow-hidden grid-cols-3 grid-rows-1 gap-2">
      <div class="flex items-center">
        <h1 class="text-xl sm:text-2xl font-semibold text-gray-900"><%= content_for(:title) %></h1>
      </div>
      <div class="box">
      </div>
      <div class="flex items-center space-x-2 sm:space-x-3 ml-auto">
        <%= link_to(
      t("administrate.actions.show_resource", name: page.page_title),
      [namespace, page.resource],
      class: "btn btn-primary",
    ) if valid_action?(:show) && show_action?(:show, page.resource) %>
      </div>
    </div>
  </div>
</div>
<section class="bg-white min-h-screen">
  <div class="max-w-lg md:p-12">
    <%= render "form", page: page %>
  </div>
</section>
