<%#
# Edit

This view is the template for the edit page.

It displays a header, and renders the `_form` partial to do the heavy lifting.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to help display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>
<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>
<%= render("header", resources: false, search_term: false, page: page, show_search_bar: false) %>
<div class="w-full px-4 mx-auto -m-24 md:px-10">
  <div class="flex flex-wrap justify-center mt-4">
    <div class="w-full px-4 mb-12 xl:w-8/12 xl:mb-0">
      <div class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-white rounded shadow-lg">
        <div class="px-4 py-3 mb-0 border-0 rounded-t">
          <div class="flex flex-wrap items-center">
            <div class="relative flex-1 flex-grow w-full max-w-full px-4">
              <h3 class="text-base font-semibold text-gray-700">
                <%= page.page_title %>
              </h3>
            </div>
            <div class="relative flex-1 flex-grow w-full max-w-full px-4 text-right">
              <%= link_to(t("administrate.actions.show_resource", name: page.page_title), [namespace, page.resource], class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out hover:text-white") if valid_action?(:show) && show_action?(:show, page.resource) %>
            </div>
          </div>
        </div>
        <div class="block w-full px-10">
          <%= render "form", page: page %>
        </div>
      </div>
    </div>
  </div>
</div>
