<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://api.lorem.space/image/movie?w=260&h=400" class="max-w-sm rounded-lg shadow-2xl" />
    <div class="max-w-md">
      <h2 class="text-1xl font-extrabold leading-10 tracking-tight md:text-center sm:leading-none md:text-2xl lg:text-3xl uppercase">
        NOUS COLLABORONS TOUJOURS DANS LA DURÉE ET SUR DES PROJETS DURABLES.
      </h2>
      <p class="py-6">12 médecins spécialisés dans la médecine d'urgence impliqués dans le soin de qualité, rapide, pour tous, avec une expérience hospitalière (SMUR, SAU, USC). Nous travaillons en équipe et assurons la compétence médicale au sein de services libéraux impliqués dans la FMC, avec de nombreuses compétences complémentaires (réanimation, traumatologie, médecine du sport, échographie...)</p>
    </div>
  </div>
</div>
