<section>
  <div class="container px-5 mx-auto">
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <span class="inline-block h-1 w-10 rounded bg-sky-500 mt-8 mb-6"></span>
    </div>
  </div>
</section>