<section>
  <div class="container px-5 mx-auto">
    <div class="w-full mx-auto text-center xl:w-1/2 lg:w-3/4">
      <span class="inline-block w-10 h-1 bg-blue-500 rounded"></span>
    </div>
  </div>
</section>
