<div class="max-w-xl mb-10 md:mx-auto lg:max-w-2xl md:mb-12">
  <h1 class="mb-4 text-2xl font-medium text-gray-900 sm:text-3xl title-font">
    La SMUCA, SELARL de médecins, est une société d’exercice libéral
  </h1>
  <p class="text-base text-gray-700 md:text-lg">
    Créée en 2018 et domiciliée à Béthune (62), elle est née de l’association de trois médecins urgentistes exerçant aux urgences de la clinique Anne d’Artois à Béthune, rapidement rejoints par 9 médecins tous cooptés, permettant de mutualiser avec les urgences de la clinique de St Amé à Lambres lez Douai. 
  </p>
</div>
