<div class="hero min-h-screen bg-center" style="background-image: url(<%= asset_path 'pages/01_content_image.jpg' %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <%= image_tag("logo/logo-white.png", class: "xl:w-1/4 lg:w-1/3 md:w-1/2 w-2/3 block mx-auto m-5") %>
      <h1 class="mb-5 text-5xl font-bold uppercase">SMUCA</h1>
      <h2 class="text-1xl font-extrabold leading-10 tracking-tight text-left md:text-center sm:leading-none md:text-2xl lg:text-3xl uppercase pb-10">
        Selarl de médecins urgentistes
      </h2>
      <button class="btn btn-primary text-white">Qui sommes-nous ?</button>
    </div>
  </div>
</div>
