    
<h1 class="mb-12 text-2xl font-medium text-gray-900 sm:text-3xl title-font">
  Nos partenaires nous font confiance
</h1>
<div class="flex justify-center flex-wrap -mx-4 overflow-hidden xl:-mx-3">
  <% @partners.each do |partner| %>
    <div class="my-4 px-4 w-full overflow-hidden md:w-full lg:w-1/2 xl:w-1/3">
      <%= render 'partners/partner_card', partner: partner %>
    </div>
  <% end %>
</div>
<div class="flex flex-col w-full mt-10 text-center">
  <p class="mx-auto text-lg leading-relaxed lg:w-2/3">Nous travaillons sur différents sites.
    <br>
    Toujours en contrat avec la société et de façon durable.
  </p>
</div>
