<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-8">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Nos partenaires nous font confiance</h1>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 items-center">
      <% @partners.first(3).each do |partner| %>
        <%= render 'partners/partner_card', partner: partner %>
      <% end %>
    </div>
    <div class="flex flex-col text-center w-full mt-10">
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-lg">Nous travaillons sur différents sites. Toujours en contrat avec la société et de façon durable.</p>
    </div>
  </div>
</section>
