  
<div class="flex flex-col max-w-screen-lg overflow-hidden bg-white rounded shadow-sm lg:flex-row sm:mx-auto">
  <div class="relative lg:w-1/2">
    <%= image_tag("pages/testimonial.jpg", class: "object-cover w-full lg:absolute h-80 lg:h-full", alt: "contact-new") %>
    <svg class="absolute top-0 right-0 hidden h-full text-white lg:inline-block" viewBox="0 0 20 104" fill="currentColor">
      <polygon points="17.3036738 5.68434189e-14 20 5.68434189e-14 20 104 0.824555778 104"></polygon>
    </svg>
  </div>
  <div class="flex flex-col justify-center p-8 bg-white lg:p-16 lg:pl-10 lg:w-1/2 md:text-left">
    <h1 class="mb-3 text-2xl font-medium text-gray-900 sm:text-3xl title-font">
      Nous sommes un grand collectif. Toujours prêts à intervenir.
    </h1>
    <p class="text-lg leading-relaxed">
      Nous constituons des équipes de médecins soit urgentistes, soit généralistes rompus au soin non programmé. Notre philosophie étant de nous associer à des gens de valeurs, polyvalents, plutôt que d’ouvrir des établissements vides et de chercher ensuite des candidats.
    </p>
    <div class="flex items-center justify-center md:justify-start">
      <%= link_to "Nous contacter", new_contact_path, class: "inline-block px-7 py-3 mt-10 bg-sky-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-sky-700 hover:shadow-lg focus:bg-sky-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-800 active:shadow-lg transition duration-150 ease-in-out" %>
    </div>
  </div>
</div>
