<div class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16">
  <!-- Image -->
  <div class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
    <img src="https://cdn.devdojo.com/images/december2020/productivity.png" class="p-2 pl-6 pr-5 xl:pl-16 xl:pr-20 ">
  </div>
  <!-- Content -->
  <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none md:text-left">
    <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
      Notre activité
    </h2>
    <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
      Notre activité principale est donc initialement l’exercice de la médecine d’urgence en structure libérale, dans le Nord et le Pas-de-Calais. 
    </p>
    <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
      Cette activité a rapidement évolué vers la participation à de structures d’accueil et de soins non programmés en clinique (SOS main côte d’opale depuis 2021 et clinique des jockeys de Gouvieux depuis cette année) tout en se renforçant dans les services d’urgence autorisés avec début de participation au sein de la polyclinique Vauban de Valenciennes. 
    </p>
  </div>
  <!-- End  Content -->
</div>
<div class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16 md:text-right">
  <!-- Content -->
  <div class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32">
    <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl sm:pr-10">
      Notre positionnement
    </h2>
    <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg">
      Enfin, la société se positionne actuellement sur la prochaine évolution de l’offre de santé : la création de structures de centres de soins non programmés en dehors des établissements, en coordination avec des cabinets de radiologie de ville et en lien avec le réseau local de spécialistes. 
    </p>
    <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg">
      Ces cabinets doivent permettre la création d’un maillon intermédiaire entre les urgences et la médecine de ville, délestant ces deux niveaux de la médecine aiguë technique sans risque vital : il faut donc pouvoir réaliser des plâtres, de attelles, des sutures, des ECG (…).
    </p>
  </div>
  <!-- End  Content -->
  <!-- Image -->
  <div class="box-border relative w-full max-w-md px-4 mt-10 mb-4 bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 md:text-left">
    <img src="https://cdn.devdojo.com/images/december2020/settings.png" class="pl-4 sm:pr-10 xl:pl-10 lg:pr-32">
  </div>
</div>
<div class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16 md:text-left">
  <!-- Image -->
  <div class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10">
    <img src="https://cdn.devdojo.com/images/december2020/productivity.png" class="p-2 pl-6 pr-5 xl:pl-16 xl:pr-10 ">
  </div>
  <!-- Content -->
  <div class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none">
    <h2 class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl">
      Notre objectif
    </h2>
    <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
      Il s’agit de devenir naturellement un effecteur des services d’accès aux soins (SAS) pour cette médecine générale aigüe technique, nous nous inscrivons donc dans la logique du pacte de refondation des urgences de 2019 qui a été réaffirmée par le Ségur de la santé en 2020, ainsi que dans le cadre de la proposition de lois visant à répondre à la demande des patients par la créations de points d’accueil pour soins immédiats adoptée en seconde lecture le 28 janvier 2021 et en attente de promulgation. 
    </p>
    <p class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg">
      Notre volonté est de nous déployer sur un éventail cohérent de pratiques de la médecine aiguë en couvrant de l’urgence en établissement à la “bobologie” en ville. Avec des variétés d’horaires de travail allant du 24/7 à l’activité de jour et de semaine, nous pouvons ainsi adapter nos pratiques aux différentes étapes de nos vies professionnelles et familiales. 
    </p>
  </div>
  <!-- End  Content -->
</div>
